
@font-face {
    font-family: 'aereann_2regular';
    src: url('/src/assets/static/fonts/aereann-2-webfont.woff2') format('woff2'),
         url('/src/assets/static/fonts/aereann-2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



#be-brave-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-top: 7vh;
    background-color:black;
    height: 100%;
    
 
}


#be-brave-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    justify-content: space-around;
    
    width: 100svw;
    height: 75%;
    /* background-image: url('src/assets/static/img/23-Bright.png') ; */
    background-position: -25vw;
    background-repeat: no-repeat;
    background-size: 120%;
    align-self: flex-start;
    margin-bottom: 2% ;
    /* border: solid red; */
    /* z-index: -1; */
     

}

#title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 30%;
    margin: 5% ;
    /* border: solid blue; */
    
}

#iframe-container{

    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 10%;
    /* border: solid red; */
}


@keyframes title {
    0% { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        word-spacing: 0em;
        letter-spacing: 0.5em;
        padding-left: 5%;
        text-shadow: 0px 0px 20px #c5f1ff;
        }
    40% { color : black;
            opacity: 0;
          text-shadow: 0px 0px 0px black;
          word-spacing: 0em;
          letter-spacing: 0.5em; 
          padding-left: 5%;}

    
    50% { color : black;
        opacity: 0;
        text-shadow: 0px 0px 0px black;
        word-spacing: 0em;
        letter-spacing: 0.2em; 
        padding-left: 0%;}

    100% { font-family: 'aereann_2regular', 'Lucida Sans';
            letter-spacing: 0.2em;
           font-weight: bold;
           text-shadow: 0px 0px 50px #c5f1ff;
      }
      
}
#be-brave-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: 4rem;
    line-height: 100%;
    height: 15vh;
    animation-name: title;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate;

}

#be-brave-subtitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* align-self: flex-start; */
    font-style: italic;
    color: #c5f1ff79;
    /* padding-left: 13%; */
    font-size: 1rem;
    text-shadow: 0px 0px 6px #c5f1ff94;
    
}


#iframe-container iframe{
    margin: 20px;
    border: solid rgba(240, 248, 255, 0.199) 3px ;
    border-radius: 5px;
    box-shadow: 0px 0px 100px #50889971;
    width: 85%;
    height: 50vh;
}






@media screen and (max-width: 480px){
    #be-brave-main{
    width: 100svw;
    height: 100vh;
    background-position: -40vw 50vh;
    background-repeat: no-repeat;
    background-size: 200%;
    align-self: flex-start;
    margin-bottom: 2% ;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    }

    #title-container{
        width: 100%;
        margin: 0;
    }

    #be-brave-title{
        font-size: 14vw;
        height: 40%;
        align-self: center;
        margin-left: 5%;
        
    }
    #be-brave-subtitle{
        font-size: 3vw;
        align-self: flex-start;
        padding-left: 13% ;
    }

    #iframe-container{
        width: 100%;
        height: 30%;
    }
    #iframe-container iframe{
      
        width: 85%;
        height: 25vh;
    }
    
   
}


@media screen and (max-width: 768px) and (min-width: 481px){
    #be-brave-main{
        background-position: -55vw;
        background-size: 170%;
        height: 100vh;
        }

    #be-brave-subtitle{
        padding: 0%;
    }

    #iframe-container{
        width: 55%;
        height: 50%;
        margin: 0%;
        }
    
    #iframe-container iframe{
        width: 100%;
        height: 25vh;
        margin-right: 5%;
        }
}


@media screen and (max-width: 1024px) and (min-width: 769px){
    #be-brave-main{
        background-position: -50vw;
        background-size: 155%;
        height: 100vh;
        }
}