.navbar-container{
    align-items: center;
    background-color: rgb(28, 27, 27);
    color: antiquewhite;
    display: flex;
    height: 7vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 4000;
}


@media screen and (max-width: 480px){
    .navbar-container{
    justify-content: flex-end;
    }
}