
@font-face {
    font-family: 'aereann_2regular';
    src: url('/src/assets/static/fonts/aereann-2-webfont.woff2') format('woff2'),
         url('/src/assets/static/fonts/aereann-2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.mobile-nav{
    display: none;
    flex-direction:column ;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40vw;
    border-radius: 5px;
    background-color: rgb(28, 27, 27);


}

.mobile-nav-list{
    display: flex;
    position: relative;
    flex-direction:column ;
    opacity: 0;
    height: 0vh;
    z-index: 1;
}

.navbar-link-mobile{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    text-decoration: none;
}

.menu-icon{
    width: 25px;
    margin: 8px 8px;
    z-index: 20;
}

.navbar-link{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 10%;
}

.navbar-contact-link{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 10%;
}

.navbar-btn{
    cursor: pointer;
    border-style: none;
    border-radius: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    background-color: rgb(28, 27, 27);
    color: rgb(253, 253, 253);
    
    /* TODO: Seleccionar que propiedades transicionan antes o despues */
    transition: all 0.5s; 
    
    transition-timing-function: ease-out;
}

.navbar-btn:hover{
    
    cursor: pointer;
    width: 100%;
    padding: 7%;
    border-style: none;
    padding-top: 7%;
    padding-bottom: 7%;
    box-shadow: 0.1px 0.1px 7px 8px inset rgb(28, 27, 27)  ;
    background-color: rgb(57, 61, 65);
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    font-family: 'aereann_2regular', 'Lucida Sans';
    font-weight: bold;
}

.navbar-btn-active{
   
    width: 100%;
    padding: 7%;
    border-style: none;
    padding-top: 7%;
    padding-bottom: 7%;
    box-shadow: 0.1px 0.1px 7px 8px inset rgb(28, 27, 27)  ;
    background-color: rgb(57, 61, 65);
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    font-family: 'aereann_2regular', 'Lucida Sans';
    font-weight: bold;
    
}


#lang-btn{
    display: flex;
    width: 5%;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px 5px;
    font-weight: bold;
    background-color:rgb(28, 27, 27);
    color:rgb(253, 253, 253);
}

#lang-icon{
    align-self: center;
    justify-self: center;
    width: 20px;
    padding: 0px 2px;
    margin: 0px;

}

#lang-btn:hover{
    text-shadow: 0px 0px 8px #c5f1ffc4
}

.hide-on-mobile{
    display: flex;
    
}

@media screen and (max-width: 480px){

    .mobile-nav{
        display: flex;
    }

    .hide-on-mobile{
        display: none;
        
    }

    .navbar-contact-link{
        width: 25%;
    }

    .navbar-btn{
        text-align: left;
        margin-left: 10%;

    }

    .navbar-btn:hover{
        text-align: left;
        margin-left: 0%;
    }
    .navbar-btn-active{
        text-align: left;
        margin-left: 0%;
        width: auto;
    }


    #lang-btn{
        width: 20%;
    }

    /* MENU TRANSITION */

    .menu-transition-enter{
        opacity: 1;
        height: 140px;
        top: 0px;
    }
    .menu-transition-enter-active{
        opacity: 0;
        height: 0px;
        top: -200px;
        transition: opacity 200ms, height 400ms, top 400ms;
    }
    .menu-transition-enter-done{
        opacity: 0;
        top: -200px;
        height: 0px;
    }   

    .menu-transition-exit{
        opacity: 0;
        height: 0px;
        top: -200px;


    }
    .menu-transition-exit-active{
        opacity: 1;
        height: 140px;
        top: 0px;
        transition: opacity 200ms, height 400ms, top 400ms;
    }
    .menu-transition-exit-done{
        opacity: 1;
        height: 140px;
        top: 0px;
    }

}