@font-face {
    font-family: 'aereann_2regular';
    src: url('/src/assets/static/fonts/aereann-2-webfont.woff2') format('woff2'),
         url('/src/assets/static/fonts/aereann-2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.mask{
    -webkit-mask-image:linear-gradient(0deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.5019257703081232) 10%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0.499124649859944) 90%, rgba(0,0,0,0) 95%);
    mask-image:linear-gradient(0deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.5019257703081232) 10%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0.499124649859944) 90%, rgba(0,0,0,0) 95%);

    border-radius: 6%;
}

img{
    width: 100%;
}


/* WRAPPER (scroll context)  */
#the-world-container{
   
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    height: 100vh;

    
}

.the-world-main{
    background-color: blue;
  

} 



.twsection-container{
    display: flex;
    margin: 5% 0%;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateZ(-10px) scale(1);
    font-style: italic;
} 






.twsection{
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.68);
    font-size: 1.2vw;
    width: 70%;
    padding: 2.5%;
    
 
}
.aereann{
    font-family: 'aereann_2regular', 'Lucida Sans';
    font-style: normal;
    font-weight: normal;
    text-align: center;
}


.sm-img{
    width: 70%;
    padding: 3%;
}

.left{
    right: 50%;
}

.right{
    left: 50%;
}

.twsection-innerdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000032;
    width: 30%;
    /* height: 55%; */
    top: 20%;
    /* left: 50%; */
    padding: 0% 1%;
    border-radius: 2%;
    
    }

   

